.form-list {
	width: 1000px;
	text-align: left;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.h1 {
	margin-bottom: 30px;
	font-weight: bold;
}
.completed {
	background-color: #809fff;
	font-weight: bold;
}
.removed {
	background-color: red;
	font-weight: bold;
}
.remove-btn {
	background-color: red;
	margin-left: 760px;
}
.btn{
	height: 32px;
}
.input-text{
	margin-right: 10px;
	height: 38px;
}
.input-subTask{
	height: 25px;
	margin-left: 30px;
	margin-bottom: 15px;
}
.input-task{
	height: 25px;
	margin-left: 30px;
}
.input-taskList{
	margin-bottom: 30px;
}
.tarefa{
	margin-left: 30px;
}
.subTask-btn{
	margin-left: 10px;
	margin-top: 5px;
}
.task-btn{
	margin-left: 10px;
	margin-top: 15px;
}
