.form-list {
	width: 1000px;
	text-align: left;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.h1 {
	margin-bottom: 30px;
	font-weight: bold;
}
.completed {
	background-color: #00e600;
	font-weight: bold;
}
.removed {
	background-color: red;
	font-weight: bold;
}
.remove-btn {
	background-color: red;
	margin-left: 760px;
}
.btn{
	height: 32px;
}
.normal-btn{
	height: 32px;
	background-color: #bfbfbf;
}
.show-btn{
    width: 800px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.show-tasks{
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-text{
	margin-right: 10px;
	height: 38px;
}
.input-subTask{
	height: 25px;
	margin-left: 30px;
	margin-bottom: 15px;
}
.input-task{
	height: 25px;
	margin-left: 30px;
}
.input-taskList{
	margin-bottom: 30px;
}
.tarefa{
	margin-left: 30px;
}
.taskCompleted{
    background-color: #00e600;
}
.subTask-btn{
	margin-left: 10px;
	margin-top: 5px;
}
.task-btn{
	margin-left: 10px;
	margin-top: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}
li :hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
